<ng-container *ngIf="data; else loading">
  <div class="column" style="gap: 1rem">
    <mat-card>
      <mat-card-title>RQ1: Kann Multifile Fuzzing mehr exception types erzeugen als die baseline?</mat-card-title>
      <app-client-track-pair-chart title="Unique Crashes" [data]="data.questionOneData.crashes"></app-client-track-pair-chart>
      <app-client-track-pair-chart title="Exception Types" [data]="data.questionOneData.exceptionTypes"></app-client-track-pair-chart>
      <mat-card>
        <mat-card-title>Errors in Sheets</mat-card-title>
        <app-client-tracks-chart title="Baseline" downloadHint="Errors in Sheets" [data]="data.questionOneData.errorsInSheets"></app-client-tracks-chart>
      </mat-card>
    </mat-card>

    <mat-card>
      <mat-card-title>RQ2: Können die beiden SUT mit diesem Setup vergleichbare Back-to-back Ergebnisse erzielen?</mat-card-title>
      <app-client-track-pair-chart title="Absolute Timeouts" [data]="data.questionTwoData.absoluteTimeouts"></app-client-track-pair-chart>
      <app-client-data-chart title="Baseline Total Errors" downloadHint="Baseline" [data]="data.questionTwoData.baselineTotalErrors"></app-client-data-chart>
      <app-client-data-chart title="Baseline Total Duration" downloadHint="Baseline" [data]="data.questionTwoData.baselineTotalDuration"></app-client-data-chart>
    </mat-card>

    <mat-card>
      <mat-card-title>RQ3: Wie ist der Vergleich der Performance von Excel auf zwei unterschiedlichen Systemen?</mat-card-title>
      <app-client-data-pair-chart title="Total Timeouts" [data]="data.questionThreeData.totalTimeouts"></app-client-data-pair-chart>
      <app-client-data-pair-chart title="Average Execution Time" [data]="data.questionThreeData.averageExecutionTime"></app-client-data-pair-chart>
      <mat-card>
        <mat-card-title>Different Exceptions on files of both windows clients:</mat-card-title>
        <app-different-exception [differentExceptions]="data.questionThreeData.differentExceptions"></app-different-exception>
      </mat-card>
    </mat-card>
  </div>
</ng-container>

<ng-template #loading>
  <div class="column" style="align-items: center; margin-top: 1rem; gap: 0.5rem">
    <mat-spinner></mat-spinner>
    <div class="mat-h2">Loading...</div>
  </div>
</ng-template>
