<ng-container *ngIf="data; else loading">
  <mat-card>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>RQ1: Kann Multifile Fuzzing mehr Exception-Types erzeugen als das Fuzzen einzelner Dateien?</mat-expansion-panel-header>
        <app-client-track-pair-chart title="Absolute Crashes"
                                     xLabel="Versuche"
                                     yLabel="Absolute Crashes"
                                     [data]="data.questionOneData.crashes"></app-client-track-pair-chart>
        <app-client-track-pair-chart title="Exception Types"
                                     xLabel="Versuche"
                                     yLabel="Exception Types"
                                     [data]="data.questionOneData.exceptionTypes"></app-client-track-pair-chart>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>RQ2: Können die beiden SUT mit diesem Setup vergleichbare Back-to-Back Ergebnisse erzielen?</mat-expansion-panel-header>
        <app-client-track-pair-chart title="Absolute Timeouts"
                                     xLabel="Versuche"
                                     yLabel="Absolute Timeouts"
                                     [data]="data.questionTwoData.absoluteTimeouts"></app-client-track-pair-chart>
        <app-client-data-pair-chart title="Total Duration"
                                    yLabel="Total Duration [ms]"
                                    [data]="data.questionTwoData.totalDuration"></app-client-data-pair-chart>
        <mat-card>
          <mat-card-title>Errors in Sheets</mat-card-title>
          <app-client-tracks-chart title="Baseline"
                                   xLabel="Versuche"
                                   yLabel="Absolute Errors in Sheets"
                                   downloadHint="Errors in Sheets"
                                   [data]="data.questionTwoData.errorsInSheets"></app-client-tracks-chart>
        </mat-card>
        <app-client-data-chart title="Total Errors"
                               yLabel="Total Errors in Sheets"
                               downloadHint="Baseline"
                               [data]="data.questionTwoData.baselineTotalErrors"></app-client-data-chart>
        <app-different-errors [differentErrors]="data.questionTwoData.differentErrors"></app-different-errors>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>RQ3: Welche Rückschlüsse können aus unterschiedlich leistungsstarken Systemen mit der selben SUT gezogen werden?</mat-expansion-panel-header>
        <app-client-data-pair-chart title="Total Timeouts"
                                    yLabel="Total Timeouts"
                                    [data]="data.questionThreeData.totalTimeouts"></app-client-data-pair-chart>
        <app-client-data-pair-chart title="Average Execution Time"
                                    yLabel="Average Execution Time [ms]"
                                    [data]="data.questionThreeData.averageExecutionTime"></app-client-data-pair-chart>
        <mat-card>
          <mat-card-title>Different Exceptions on files of both windows clients:</mat-card-title>
          <app-different-exception [differentExceptions]="data.questionThreeData.differentExceptions"></app-different-exception>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</ng-container>

<ng-template #loading>
  <div class="column" style="align-items: center; margin-top: 1rem; gap: 0.5rem">
    <mat-spinner></mat-spinner>
    <div class="mat-h2">Loading...</div>
  </div>
</ng-template>
