<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Use some logging configuration predefined by spring boot. For example: formatting pattern of logs. -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Console -->
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- WebSocket -->
    <appender name="websocket"
              class="de.hub.mse.server.log.ListenableAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="websocket" /> <!-- The logs will be output to the WebSocketAppender -->
    </root>

</configuration>