<ng-container *ngIf="data">
  <mat-card class="column">
  <mat-card-title>{{title}}</mat-card-title>
    <app-client-tracks-chart title="Baseline"
                             [xLabel]="xLabel"
                             [yLabel]="yLabel"
                             [data]="data.baseline"
                             [downloadHint]="title"></app-client-tracks-chart>
    <app-client-tracks-chart title="Experiments"
                             [xLabel]="xLabel"
                             [yLabel]="yLabel"
                             [data]="data.experiment"
                             [downloadHint]="title"></app-client-tracks-chart>
    <app-mann-whitney-u [statistic]="data.mannWhitneyUTestStatistic"></app-mann-whitney-u>
  </mat-card>
</ng-container>
